@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

body{
    background-color: lavender;
    font-family: 'ABeeZee';
    overflow: hidden;
}

.Dolly{
  position: absolute;
  width: 15%;
  bottom: 0%;
  cursor: pointer;
}

#bubble{
  /* display: none; */
  width: 1240px;
  height: 450px;
  position: absolute;
  left: 3%;
  bottom: 20%;
}

#speechBubbleText{
  font-size: 2rem;
  position: absolute;
  bottom: 45%;
  left: 12%;
  padding-right: 20%;
}